*{
    margin: 0;
    font-family: sans-serif;

}

.background{
    background: linear-gradient(90deg,#1B1E31E5, #1B1E3100);
    width: 100%;
    height: 100vh;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(./image\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.size{
    width: 25px;
    height: 25px;
    color: #FFFFFF;
}
.header-p{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}
.ps{
    display: flex;
    gap: 40px;
}
.header-chapter1-part1{
    display: flex;
    align-items: center;
    gap: 50px;
}
.hr{
    width: 99.9%;
    margin-top: 15px;
}
.chapter-1-header{
    width: 85%;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chapter-2-header{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
    position: relative;
    padding-bottom: 120px;
}
.header-chapter1-part2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.size-1{
    width: 30px;
    height: 34px;
    color: #FFFFFF;
    background-color: #60C880;
    padding: 50px;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.imgs{
    display: flex;
    gap: 20px;
}
.header-p1{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}
.header-p2{
    font-size: 75px;
    font-weight: 700;
    color: #FFFFFF;
    width: 43%;
    line-height: 80%;
}
.header-p3{
    font-size: 75px;
    font-weight: 700;
    color: #60C880;
}
.header-p4{
    font-size: 20px;
    font-weight: 400;
    color: #ffffffae;
    width: 40%;
    line-height: 34px;
}
.button1{
    width: 230px;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #60C880;
    border: none;
    text-align: center;
    border-radius: 50px;
}