*{
    margin: 0;
    font-family: sans-serif;

}

.background{
    background: linear-gradient(90deg,#1B1E31E5, #1B1E3100);
    width: 100%;
    height: 100vh;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(./image\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.size{
    width: 25px;
    height: 25px;
    color: #FFFFFF;
}
.header-p{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}
.ps{
    display: flex;
    gap: 40px;
}
.header-chapter1-part1{
    display: flex;
    align-items: center;
    gap: 50px;
}
.hr{
    width: 99.9%;
    margin-top: 15px;
}
.chapter-1-header{
    width: 85%;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chapter-2-header{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
    position: relative;
    padding-bottom: 120px;
}
.header-chapter1-part2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.size-1{
    width: 30px;
    height: 34px;
    color: #FFFFFF;
    background-color: #60C880;
    padding: 50px;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.imgs{
    display: flex;
    gap: 20px;
}
.header-p1{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}
.header-p2{
    font-size: 75px;
    font-weight: 700;
    color: #FFFFFF;
    width: 43%;
    line-height: 80%;
}
.header-p3{
    font-size: 75px;
    font-weight: 700;
    color: #60C880;
}
.header-p4{
    font-size: 20px;
    font-weight: 400;
    color: #ffffffae;
    width: 40%;
    line-height: 34px;
}
.button1{
    width: 230px;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #60C880;
    border: none;
    text-align: center;
    border-radius: 50px;
}
.none1{
    display: none;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 100px;
    margin-top: 100px;
}
.section-2-p4{
    font-size: 18px;
    font-weight: 700;
    color: #60C880;
    text-decoration: underline;
}
.section-1{
    width: 85%;
    margin: auto;
    display: flex;
    gap: 100px;
}
.section-2{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}
.section-2-box{
    width: 1fr;
    padding: 50px;
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.31);
}
.section-2-p{
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    background-color: #60C880;
    color: #FFFFFF;
    border-radius: 50%;
    width: 41px;
    height: 27;
    text-align: center;
}
.section-2-p1{
    font-size: 30px;
    font-weight: 700;
    color: #3D3D3D;
}
.section-2-p2{
    font-size: 20px;
    font-weight: 400;
    color: #3D3D3D;
    line-height: 170%;
    width: 90%;
}
.section-2-p3{
    font-size: 20px;
    font-weight: 700;
    color: #3D3D3D;
}
.flex-1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.column-1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.section-1-p{
    font-size: 50px;
    font-weight: 700;
    color: #60C880;
}
.column{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.31);
}
.size-2{
    width: 40px;
    height: 40px;
    color: #60C880;
}
.section-1-part2{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.columns{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.section-1-p1{
    font-size: 50px;
    font-weight: 700;
    color: #3D3D3D;
    line-height: 80%;
}
.section-1-p2{
    font-size: 17px;
    font-weight: 400;
    color: #3D3D3D;
    line-height: 30px;
}
.hr1{
    width: 70px;
    background-color: #60c87f96;
    height: 3px;
    border: none;
}
.flex{
    display: flex;
    align-items: center;
    gap: 20px;
}
@media (max-width: 510px) {
    .none{
        display: none;
    }    
    .header{
        background-image: url(./image\ 7\ \(1\).png);
        width: 100%;
    }
    .none1{
        display: inline;
    }
    .header-chapter1-part2{
        flex-direction: row-reverse;
    }
    .background{
        background: linear-gradient(#1B1E31E5, #1B1E3100);
    }
    .header-p2{
        font-size: 36px;
        width: 90%;
    }
    .header-p3{
        font-size: 36px;
    }
    .hr{
        display: none;
    }
    .header-p4{
        font-size: 18px;
        width: 89%;
    }
    .chapter-1-header{
        width: 95%;
        justify-content: space-around;
    }
    .size-1{
        padding: 30px;
    }
    .chapter-2-header{
        margin-top: 60px;
        padding-bottom: 150px;
        width: 90%;
    }
    .section-1{
        flex-direction: column;
        width: 95%;
    }
    .img1{
        width: 95%;
    }
    .img2{
        width: 100%;
    }
    .section-1-p1{
        font-size: 40px;
        line-height: 100%;
    }
    .section-1-p2{
        font-size: 40px;
        font-size: 18px;
    }
    .section-1-p{
        font-size: 40px;
    }
    .hr1{
        width: 40px;
    }
}