*{
    margin: 0;
    font-family: sans-serif;
}
body{
    padding: 2px;
}
.background{
    background: linear-gradient(90deg,#1B1E31E5, #1B1E3100);
    width: 100%;
    height: 100vh;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(./image\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.size{
    width: 25px;
    height: 25px;
    color: #FFFFFF;
}
.header-p{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}
.ps{
    display: flex;
    gap: 40px;
}
.header-chapter1-part1{
    display: flex;
    align-items: center;
    gap: 50px;
}
.hr{
    width: 99.9%;
    margin-top: 15px;
}
.chapter-1-header{
    width: 85%;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chapter-2-header{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
    position: relative;
    padding-bottom: 120px;
}
.header-chapter1-part2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.size-1{
    width: 30px;
    height: 34px;
    color: #FFFFFF;
    background-color: #60C880;
    padding: 50px;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.imgs{
    display: flex;
    gap: 20px;
}
.header-p1{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}
.header-p2{
    font-size: 75px;
    font-weight: 700;
    color: #FFFFFF;
    width: 43%;
    line-height: 80%;
}
.header-p3{
    font-size: 75px;
    font-weight: 700;
    color: #60C880;
}
.header-p4{
    font-size: 20px;
    font-weight: 400;
    color: #ffffffae;
    width: 40%;
    line-height: 34px;
}
.button1{
    width: 230px;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #60C880;
    border: none;
    text-align: center;
    border-radius: 50px;
}
.none1{
    display: none;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 100px;
    margin-top: 100px;
}
.section-2-p4{
    font-size: 18px;
    font-weight: 700;
    color: #60C880;
    text-decoration: underline;
}
.section-1{
    width: 85%;
    margin: auto;
    display: flex;
    gap: 100px;
}
.section-2{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}
.section-2-box{
    width: 1fr;
    padding: 50px;
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.31);
}
.section-2-p{
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    background-color: #60C880;
    color: #FFFFFF;
    border-radius: 50%;
    width: 41px;
    height: 27;
    text-align: center;
}
.section-2-p1{
    font-size: 30px;
    font-weight: 700;
    color: #3D3D3D;
}
.section-2-p2{
    font-size: 20px;
    font-weight: 400;
    color: #3D3D3D;
    line-height: 170%;
    width: 90%;
}
.section-2-p3{
    font-size: 20px;
    font-weight: 700;
    color: #3D3D3D;
}
.flex-1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.column-1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.section-1-p{
    font-size: 50px;
    font-weight: 700;
    color: #60C880;
}
.section-11-p{
    font-size: 50px;
    font-weight: 700;
    color: #60C880;
}
.column{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.31);
}
.size-2{
    width: 40px;
    height: 40px;
    color: #60C880;
}
.section-1-part2{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.columns{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.section-1-p1{
    font-size: 50px;
    font-weight: 700;
    color: #3D3D3D;
    line-height: 80%;
}
.section-4-p1{
    font-size: 50px;
    font-weight: 700;
    color: #3D3D3D;
    line-height: 100%;
}
.section-11-p1{
    font-size: 50px;
    font-weight: 700;
    color: #3D3D3D;
    line-height: 80%;
}
.section-3-p3{
    font-size: 50px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 80%;
}
.section-1-p2{
    font-size: 17px;
    font-weight: 400;
    color: #3D3D3D;
    line-height: 30px;
}
.section-4-p2{
    font-size: 17px;
    font-weight: 400;
    color: #3D3D3D;
    line-height: 30px;
    width: 80%;
}
.hr1{
    width: 70px;
    background-color: #60c87f96;
    height: 3px;
    border: none;
}
.flex{
    display: flex;
    align-items: center;
    gap: 20px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
}
.item1{
    place-content: center;
    background-color: #FFFFFF;
    border: 1px solid grey;
}
.item2{
    place-content: center;
    background-color: #FFFFFF;
    border: 1px solid grey;
}
.item3{
    place-content: center;
    background-color: #FFFFFF;
    border: 1px solid grey;
}
.item4{
    place-content: center;
    background-color: #FFFFFF;
    border: 1px solid grey;
}
.item5{
    place-content: center;
    background-color: #FFFFFF;
    border: 1px solid grey;
}
.item6{
    place-content: center;
    background-color: #FFFFFF;
    border: 1px solid grey;
}
.bg{
    background-color: #1B1E31;
    width: 100%;
}
.section-3-p{
    font-size: 36px;
    font-weight: 700;
}
.width1{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section-3-p1{
    font-size: 16px;
    font-weight: 400;
    width: 80%;
    line-height: 25px;
}
.section-3{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 80px;
    border-radius: 50%;
    background-color: #60C880;
    width: 250px;
    height: 250px;
    justify-self: center;
}
.section-4{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;   
    margin-top: 100px;
    align-items: center;
}
.section-4-part1{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.imgg{
    width: 55%;
    position: relative;
}
.p{
    font-size: 25px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.p1{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    line-height: 25px;
}
@media (max-width: 510px) {
    .section-3-p3{
        font-size: 45px;
        padding-left: 20px;
    }
    .item1{
    }
    .section-3{
        width: 99%;
        padding-top: 100px;
    }
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 300px);
    }
    .section-11-p{
        padding-left: 20px;
        line-height: 0%;
    }
    .section-11-p1{
        padding-left: 20px;
    }
    .section-2-p{
        font-size: 22px;
        font-weight: 700;
        padding: 20px;
        background-color: #60C880;
        color: #FFFFFF;
        border-radius: 50%;
        width: 19px;
        height: 19px;
        text-align: center;
    }
    .section-2-p4{
        font-size: 20px;
        text-align: center;
    }
    .section-2-p1{
        font-size: 20px;
    }
    .section-2-p2{
        width: 100%;
        font-size: 16px;
    }
    .section-2-box{
        padding: 20px;
        gap: 20px;
    }
    .section-2{
        width: 100%;
    }
    .none{
        display: none;
    }    
    .header{
        background-image: url(./image\ 7\ \(1\).png);
        width: 100%;
    }
    .none1{
        display: inline;
    }
    .header-chapter1-part2{
        flex-direction: row-reverse;
    }
    .background{
        background: linear-gradient(#1B1E31E5, #1B1E3100);
    }
    .header-p2{
        font-size: 36px;
        width: 90%;
    }
    .header-p3{
        font-size: 36px;
    }
    .hr{
        display: none;
    }
    .header-p4{
        font-size: 18px;
        width: 89%;
    }
    .chapter-1-header{
        width: 95%;
        justify-content: space-around;
    }
    .size-1{
        padding: 30px;
    }
    .chapter-2-header{
        margin-top: 60px;
        padding-bottom: 150px;
        width: 90%;
    }
    .section-1{
        flex-direction: column;
        width: 95%;
    }
    .img1{
        width: 95%;
    }
    .img2{
        width: 100%;
    }
    .section-1-p1{
        font-size: 40px;
        line-height: 100%;
    }
    .section-1-p2{
        font-size: 40px;
        font-size: 18px;
    }
    .section-1-p{
        font-size: 40px;
    }
    .hr1{
        width: 40px;
    }
}